@font-face {
  font-family: "EBGaramond";
  font-weight: NUMERIC_RANGE_LOW_TO_HIGH;
  src: url("EBGaramond-VariableFont_wght.ttf") format('truetype');
/*  THERE WILL HAVE TO BE MORE. THIS IS MINIMAL.*/
}
@font-face {
  font-family: "EBGaramond-Italic";
  font-weight: NUMERIC_RANGE_LOW_TO_HIGH;
  src: url("EBGaramond-Italic-VariableFont_wght.ttf") format('truetype');
/*  THERE WILL HAVE TO BE MORE. THIS IS MINIMAL.*/
}

i, em {font-family: EBGaramond-Italic, tahoma; }

body { 
	text-align: center;
	padding-top: 4em;
	background-color: #00fbfa;
}

h1, p {
	font-family: EBGaramond, tahoma;
	font-size: 16pt;
	font-weight: 400;
  font-optical-sizing: auto;	
	font-variant: small-caps;
	text-transform: lowercase;
	letter-spacing: 2pt;
	font-variant-numeric: oldstyle-nums;
}